{% load staticfiles %}
<html>
<head>
    <title>Term Project!</title>

    <!-- Compiled and minified CSS [Materialize] -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    <!-- Compiled and minified jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript [Materialize] -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
	<nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">Thinly Veiled Rec Thread</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/rec">Rec Me!</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/login">Login</a></li>
              </ul>
            </div>
          </nav>
    <div class="title">
        {{sid}}
    </div>

    <form action="/login/hold" method="post">
        {% csrf_token %}
        <label for="userid">Your username: </label>
        <input id="userid" type="text" name="userid" value="">
        <label for="pass">Your password: </label>
        <input id="pass" type="text" name="pass" value="">
        <input type="submit" name="Login">

    </form>
</body>
</html>
