{% load staticfiles %}
<html>
<head>
    <title>Term Project!</title>

    <!-- Compiled and minified CSS [Materialize] -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    <!-- Compiled and minified jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript [Materialize] -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
	<nav>
        <div class="nav-wrapper indigo darken-3">
              <a href="/" class="brand-logo"><div class=bar>Sek/r/it Club</div></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/rec"><div class=bar>Rec Me!</div></a></li>
                <li><a href="/profile"><div class=bar>Profile</div></a></li>
                <li><a href="/login"><div class=bar>Login</div></a></li>
              </ul>
            </div>
          </nav>
    <div class="title">
        Enter either the anime's title(exact) or anime ID
    </div>

    <form action="/edit/anime" method="post">
        {% csrf_token %}
		<label for="aid">aid: </label>
        <input id="aid" type="text" name="aid" value="">
        <label for="title">Title: </label>
        <input id="titla" type="text" name="title" value="">
        <input type="submit" name="Login">

    </form>
</body>
</html>
